apiVersion: v1
kind: Service
metadata:
  name: api-service
  labels:
    app: service
spec:
  selector:
    app: service
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
    protocol: TCP
    name: http